.swiper-container {
    width: 100%;
    height: 533px;
    max-width: 940px;
    margin: 0 auto; 
    padding-bottom: 0;
    border-width: 5px; 
    border-style: solid;
    border-image: linear-gradient(180deg, white 50%, rgb(0, 0, 0) 50%) 1;
}

.vidcontent{
  margin-top: 250px;
  margin-bottom: 100px;
}

.vidcontent h1{
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-weight: 1000;
  font-family: 'Cinzel';
}

.vidcontent h2{
  font-size:larger;
  font-weight: 520;
}


.back-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  object-fit: cover;
  z-index: -1;
}

.swiper-wrapper {
    display: flex;
}



.swiper-slide {
    display: flex;
    justify-content: center;
    position: relative; 
}


.video-wrapper {
  position: relative;
  width: 100%;
  height: 0; 
  padding-bottom: 56.25%; 
}

.youtube-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.swiper-button-prev,
.swiper-button-next {
    color: white; 
}

.content-container {
  padding: 2rem;
  text-align: center;
}

.heading {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #333;
}

.main-video {
  margin-bottom: 2rem;
}

.carousel-video {
  width: 100%;
  height: 400px; 
  border: none;
}

.video-cards-container {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem; 
  justify-items: center;
}

.video-cards-container2 {
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem; 
}

.video-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 400px; 
}
.video-card2 {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 500px;
}

h2{
  font-family: 'Rajdhani', sans-serif;
}

.video-card-embed {
  width: 100%;
  height: 280px; 
  border: none;
}

.video-title {
  margin: 0.5rem;
  font-size: 1rem;
  color: #333;
}

